@import "tailwindcss";

.masonry-grid {
  display: flex;
  width: 100%;
  max-width: 100%;
}

.masonry-grid-column {
  background-clip: padding-box;
}

.masonry-grid-item {
  margin-bottom: 20px;
  break-inside: avoid;
}

/* For small screens (mobile devices) */
@media (max-width: 600px) {
  .masonry-grid-item {
    margin-bottom: 12px;
  }
}

/* For tablets (portrait orientation) */
@media (max-width: 768px) {
  .masonry-grid-item {
    margin-bottom: 16px;
  }
}